#QuestionsContainer
{
    min-width: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 2rem 4rem;
}

.QuestionCard
{

    background-color: white;
    color: black;
    position: relative;
    width: 100%;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
 
    
}

.QuestionCard div
{

    display: flex;
    column-gap: 1rem;
    position: relative;
    left: 5rem;
    margin-top: 4rem;
}

.QuestionCard h2
{

    position: absolute;
    left: 4rem;
    font-weight: 400;
    color: rgb(55, 54, 54);
    width: 85%;
    text-align: left;
}
.QuestionCard h3
{
    position: absolute;
    
}
.QuestionCard button
{
    position: absolute;
    right: 1rem;

    border: none;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}